@page "/game/{tableName}"
@rendermode InteractiveWebAssembly
@using Microsoft.AspNetCore.SignalR.Client
@using ZgodnieZTutorialem.Client.Models
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Poker - Gra</PageTitle>
<h1>Stół: @tableName</h1>

@if (!thisTable.GameStarted)
{
    <h2>Gracze: (@thisTable.Players.Count/@thisTable.MaxPlayerCount)</h2>
    @for (int i = 0; i < thisTable.Players.Count; i++)
    {
        <div style=@(i == MyIndex ? (thisTable.Players[i].IsReady ? "color:#80d000" : "color:#009000") : (thisTable.Players[i].IsReady ? "color:#a0a000" : ""))>
            <h4>Gracz @thisTable.Players[i].Nick:</h4>
            Ilość żetonów: @thisTable.Players[i].Chips
        </div>
    }

    @if (!Joined && thisTable.Players.Count < thisTable.MaxPlayerCount)
    {
        <label>
            Nick:
            <input @bind="nick" />
        </label>
        <button @onclick="JoinTable" disabled="@(nick=="")">Dołącz</button>
    }

    @if (Joined && thisTable.Players.Count == thisTable.MaxPlayerCount && MyIndex is not null && !thisTable.Players[MyIndex.Value].IsReady)
    {
        <button @onclick="Ready">Jestem Gotów (@ReadyPlayers/@thisTable.MaxPlayerCount)</button>
    }
}
else
{
    @if(thisTable.Stage == 0)
    {
        <img src="@("Cards/unknown.png")" style="width: 100px; height: auto;" />
        <img src="@("Cards/unknown.png")" style="width: 100px; height: auto;" />
        <img src="@("Cards/unknown.png")" style="width: 100px; height: auto;" />
        <img src="@("Cards/unknown.png")" style="width: 100px; height: auto;" />
        <img src="@("Cards/unknown.png")" style="width: 100px; height: auto;" />
    }
    else if(thisTable.Stage == 1)
    {
        <img src="@("Cards/" + thisTable.Cards[0].ToString() + ".png")" style="width: 100px; height: auto;" />
        <img src="@("Cards/" + thisTable.Cards[1].ToString() + ".png")" style="width: 100px; height: auto;" />
        <img src="@("Cards/" + thisTable.Cards[2].ToString() + ".png")" style="width: 100px; height: auto;" />
        <img src="@("Cards/unknown.png")" style="width: 100px; height: auto;" />
        <img src="@("Cards/unknown.png")" style="width: 100px; height: auto;" />
    }
    else if(thisTable.Stage == 2)
    {
        <img src="@("Cards/" + thisTable.Cards[0].ToString() + ".png")" style="width: 100px; height: auto;" />
        <img src="@("Cards/" + thisTable.Cards[1].ToString() + ".png")" style="width: 100px; height: auto;" />
        <img src="@("Cards/" + thisTable.Cards[2].ToString() + ".png")" style="width: 100px; height: auto;" />
        <img src="@("Cards/" + thisTable.Cards[3].ToString() + ".png")" style="width: 100px; height: auto;" />
        <img src="@("Cards/unknown.png")" style="width: 100px; height: auto;" />
    }
    else if (thisTable.Stage >= 3)
    {
        <img src="@("Cards/" + thisTable.Cards[0].ToString() + ".png")" style="width: 100px; height: auto;" />
        <img src="@("Cards/" + thisTable.Cards[1].ToString() + ".png")" style="width: 100px; height: auto;" />
        <img src="@("Cards/" + thisTable.Cards[2].ToString() + ".png")" style="width: 100px; height: auto;" />
        <img src="@("Cards/" + thisTable.Cards[3].ToString() + ".png")" style="width: 100px; height: auto;" />
        <img src="@("Cards/" + thisTable.Cards[4].ToString() + ".png")" style="width: 100px; height: auto;" />
    }
    <br>
    <br>
    @for(int i = 0; i < thisTable.MaxPlayerCount; i++)
    {
        @if (MyIndex is not null && i == MyIndex)
        {
            <div style=@(thisTable.Players[i].Fold ? "color:#70c070" : "color:#009000")>
                @if (thisTable.Dealer == i)
                {
                    <h3>@thisTable.Players[i].Nick (Dealer)</h3>
                }
                else
                {
                    <h3>@thisTable.Players[i].Nick</h3>
                }
                <h5>Żetony: @thisTable.Players[i].Chips</h5>
                <img src="@("Cards/" + thisTable.Players[i].Cards[0].ToString() + ".png")" style="width: 50px; height: auto;" />
                <img src="@("Cards/" + thisTable.Players[i].Cards[1].ToString() + ".png")" style="width: 50px; height: auto;" />
                @if(i == turn && thisTable.Stage < 4)
                {
                    <input @bind="bid"/>
                    <button @onclick="Bid" disabled="@(bid > thisTable.Players[i].Chips || bid > maxBid || bid <= minBid || thisTable.Players[i].Fold)">Podbij</button>
                    <button @onclick="Check" disabled="@(bid != minBid || thisTable.Players[i].Fold)">Sprawdź</button>
                    <button @onclick="Fold" disabled="@thisTable.Players[i].Fold">Pas</button>
                }
                <h5>Postawiono: @thisTable.Players[i].CurrentBid</h5>
            </div>
            <br>
        }
        else
        {
            <div style="@(thisTable.Players[i].Fold ? "color:#b0b0b0" : "")">
                @if (thisTable.Dealer == i)
                {
                    <h3>@thisTable.Players[i].Nick (Dealer)</h3>
                }
                else
                {
                    <h3>@thisTable.Players[i].Nick</h3>
                }
                <h5>Żetony: @thisTable.Players[i].Chips</h5>
                <img src="Cards/unknown.png" style="width: 50px; height: auto;" />
                <img src="Cards/unknown.png" style="width: 50px; height: auto;" />
                <h5>Postawiono: @thisTable.Players[i].CurrentBid</h5>
            </div>
            <br>
        }
    }

    @if(thisTable.Stage == 4)
    {
        //TODO: Show winner
        //TODO: Add button to reset game
    }
    else if (thisTable.Stage == 5) //if everyone folded but one player
    {
        //TODO: Show winner
        //TODO: Add button to reset game
    }
    else if(thisTable.Stage == 6) //end game
    {
        //TODO Show winner
        //TODO: Add button to go back to lobby
    }
}

@code {
    [Parameter] public string? tableName { get; set; }

    private bool Joined = false;
    private HubConnection? hubConnection;
    private int? MyIndex;
    private int ReadyPlayers = 0;
    Table thisTable = new();
    private string nick = "";
    private int bid = 0;
    private int minBid = 0;
    private int maxBid = 0;
    private int turn = 0;

    private async Task Fold()
    {
        if (DebugInfo.debug)
            Console.WriteLine($"Fold called in Game by player \"{nick}\"");

        if (hubConnection is not null)
            await hubConnection.SendAsync("Fold", tableName, MyIndex);
    }

    private async Task Check()
    {
        if (DebugInfo.debug)
            Console.WriteLine($"Check called in Game by player \"{nick}\" and bid {bid}");

        if (hubConnection is not null)
            await hubConnection.SendAsync("Check", tableName, MyIndex, bid);
    }

    private async Task Bid()
    {
        if (DebugInfo.debug)
            Console.WriteLine($"Bid {bid} called in Game by player \"{nick}\" and bid {bid}");

        if (hubConnection is not null && MyIndex is not null)
        {
            await hubConnection.SendAsync("Bid", tableName, MyIndex, bid);
        }
    }

    private async Task Ready()
    {
        if(DebugInfo.debug)
            Console.WriteLine($"Ready called in Game by player \"{nick}\"");

        if (hubConnection is not null)
            await hubConnection.SendAsync("Ready", tableName, MyIndex);
    }

    private async Task JoinTable()
    {
        if (DebugInfo.debug)
            Console.WriteLine($"JoinTable called in Game with nick=\"{nick}\" and tableName=\"{tableName}\"");

        foreach (var player in thisTable.Players)
        {
            if (player.Nick == nick)
            {
                if (DebugInfo.debug)
                    Console.WriteLine("Cannot join (player with this nick already exists");
                return;
            }
        }

        Joined = true;
        MyIndex = thisTable.Players.Count;

        if (hubConnection is not null)
            await hubConnection.SendAsync("JoinTable", tableName, nick);
    }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/tablehub"))
            .Build();

        hubConnection.On<int>("NewFold", (index) =>
        {
            if (DebugInfo.debug)
                Console.WriteLine($"NewFold from hub with index=\"{index}\"");

            thisTable.Players[index].Fold = true;
            foreach(var player in thisTable.Players)
            {
                if(!player.Fold && !player.Check)
                {
					//if not all playing players checked or folded
                    do
                    {
                        turn = (turn + 1) % thisTable.MaxPlayerCount;
                    } while (thisTable.Players[turn].Fold);

                    InvokeAsync(StateHasChanged);
                    return;
                }
            }

            //if all playing players checked or folded
            if (DebugInfo.debug)
                Console.WriteLine($"Every player checked or folded");
            thisTable.Stage++;
            foreach (var player in thisTable.Players)
            {
                player.Check = false;
            }

            bid = 0;
            minBid = 0;
            if (thisTable.MaxPlayerCount == 2)
            {
                turn = thisTable.Dealer;
                while (thisTable.Players[turn].Fold)
                    turn = (turn + 1) % thisTable.MaxPlayerCount;
            }
            else
            {
                turn = (thisTable.Dealer + 3) % thisTable.MaxPlayerCount;
                while (thisTable.Players[turn].Fold)
                    turn = (turn + 1) % thisTable.MaxPlayerCount;
            }

            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<int, int>("NewCheck", (index, newBid) =>
        {
            if (DebugInfo.debug)
                Console.WriteLine($"NewCheck from hub with index=\"{index}\" and bid {newBid}");

            thisTable.Players[index].Check = true;

            foreach (var player in thisTable.Players)
            {
                if(!player.Check && !player.Fold)
                {
                    //if not all players checked
                    if (DebugInfo.debug)
                        Console.WriteLine($"Player \"{player.Nick}\" didn't check");

                    thisTable.Players[index].CurrentBid += newBid;
                    thisTable.Players[index].Chips -= newBid;
                    do
                    {
                        turn = (turn + 1) % thisTable.MaxPlayerCount;
                    } while (thisTable.Players[turn].Fold);

                    if (MyIndex is not null)
                        minBid = thisTable.Players[index].CurrentBid - thisTable.Players[MyIndex.Value].CurrentBid;
                    bid = minBid;

                    InvokeAsync(StateHasChanged);
                    return;
                }
            }

            //if all players checked
            if (DebugInfo.debug)
                Console.WriteLine($"Every player checked");
            thisTable.Players[index].CurrentBid += newBid;
            thisTable.Players[index].Chips -= newBid;
            thisTable.Stage++;
            foreach (var player in thisTable.Players)
            {
                player.Check = false;
            }

            bid = 0;
            minBid = 0;
            if (thisTable.MaxPlayerCount == 2)
            {
                turn = thisTable.Dealer;
                while (thisTable.Players[turn].Fold)
                    turn = (turn + 1) % thisTable.MaxPlayerCount;
            }
            else
            {
                turn = (thisTable.Dealer + 3) % thisTable.MaxPlayerCount;
                while (thisTable.Players[turn].Fold)
                    turn = (turn + 1) % thisTable.MaxPlayerCount;
            }

            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<int, int>("NewBid", (index, newBid) =>
        {
            if (DebugInfo.debug)
                Console.WriteLine($"NewBid from hub with index=\"{index}\" and bid=\"{newBid}\"");

            thisTable.Players[index].CurrentBid += newBid;
            thisTable.Players[index].Chips -= newBid;
            foreach(var player in thisTable.Players)
            {
				player.Check = false;
            }
            thisTable.Players[index].Check = true;

            if (MyIndex is not null)
                minBid = thisTable.Players[index].CurrentBid - thisTable.Players[MyIndex.Value].CurrentBid;
            bid = minBid;

            int buffer = thisTable.StartChipCount * 6;
            foreach (var player in thisTable.Players)
            {
                if (player.CurrentBid + player.Chips < buffer)
                    buffer = player.CurrentBid + player.Chips;
            }
            maxBid = buffer;

            do
            {
                turn = (turn + 1) % thisTable.MaxPlayerCount;
			} while (thisTable.Players[turn].Fold);

            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<Table>("ReceiveInfo", (tableInfo) =>
        {
            if (DebugInfo.debug)
                Console.WriteLine($"ReceiveInfo from hub with \"{tableInfo.TableName}\"");

            thisTable = tableInfo;

            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<Player>("ReceiveNewPlayer", (newPlayer) =>
        {
            if (DebugInfo.debug)
                Console.WriteLine($"ReceiveNewPlayer from hub with \"{newPlayer.Nick}\"");

            thisTable.Players.Add(newPlayer);

            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<int>("NewReady", (index) =>
        {
            if (DebugInfo.debug)
                Console.WriteLine($"NewReady from hub with \"{index}\"");

            thisTable.Players[index].IsReady = true;
            ReadyPlayers++;

            if (ReadyPlayers == thisTable.MaxPlayerCount)
            {
                thisTable.GameStarted = true;
            }

            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<Table>("StartGame", (table) =>
        {
            if (DebugInfo.debug)
                Console.WriteLine($"StartGame from hub");

            thisTable = table;
            if (thisTable.MaxPlayerCount == 2)
            {
                bid = table.Blind;
                minBid = table.Blind;
                turn = thisTable.Dealer;
				thisTable.Players[(thisTable.Dealer + 1) % thisTable.MaxPlayerCount].Check = true;
            }
            else
            {
                bid = table.Blind * 2;
                minBid = table.Blind * 2;
                turn = (thisTable.Dealer + 3) % thisTable.MaxPlayerCount;
                thisTable.Players[(thisTable.Dealer + 2) % thisTable.MaxPlayerCount].Check = true;
            }

		    if (MyIndex is not null)
                maxBid = table.StartChipCount - table.Players[MyIndex.Value].CurrentBid;

            if (DebugInfo.debug)
                Console.WriteLine($"Bidding starts with player index {turn}");

            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
        await hubConnection.SendAsync("AddToGroup", tableName);
        await hubConnection.SendAsync("RequestInfo", tableName);
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
